<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" 
      scriptProcessor="c:\python37\python.exe|c:\python37\lib\site-packages\wfastcgi.py"
      resourceType="Unspecified"/>
    </handlers>
    </system.webServer>
    <appSettings>
        <add key="WSGI_HANDLER" value="ecommerce.wsgi.application" />
        <add key="PYTHONPATH" value="C:\inetpub\wwwroot\ecommerce" />

      <add key="DJANGO_SETTINGS_MODULE" value="ecommerce.settings" /> 
    </appSettings>
</configuration>